@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

select option {
  background: #0f172a;
}
